<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>
    <div class="colorlib-loader"></div>
    <div><h2>@ViewBag.LoggedIn</h2></div>
    <div class="container body-content">
            <div class="colorlib-loader"></div>
            <div>
                <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
                    <div class="container">
                        <div class="col-sm-7 col-md-9">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsupportedcontent" aria-controls="navbarsupportedcontent" aria-expanded="false" aria-label="toggle navigation"></button>
                            @Html.ActionLink("Global Markets", "Index", "Home", new { area = "" }, new { @id = "colorlib-logo", @class = "navbar-brand" })
                            <div class="navbar-collapse collapse" id="navbarSupportedContent">

                                <div class="row">
                                    <div class="col-sm-12 text-left menu-1">
                                        <ul class="navbar-nav mr-auto">
                                            <li class="active nav-item" >@Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { style = "color: white" })</li>

                                            @if (Session["UserID"] == null)
                                            {
                                                <li class="nav-item" style="padding-left:15px;">@Html.ActionLink("Sign-In", "Login", "Login",null,htmlAttributes: new{ style = "color: white"})</li>
                                                <li class="nav-item" style="padding-left:15px;">@Html.ActionLink("Sign-Up", "Register", "Register", null, htmlAttributes: new { style = "color: white" })</li>
                                            }
                                            else
                                            {
                                                <li class="nav-item" style="padding-left:15px;">@Html.ActionLink("My Orders", "MyOrders", "Order", null, htmlAttributes: new { style = "color: white" })</li>
                                                <li class="nav-item" style="padding-left:15px;">@Html.ActionLink("Sign Out", "Logout", "User", null, htmlAttributes: new { style = "color: white" })</li>
                                            }
                                            <li class="cart nav-item" style="padding-left:15px;"><a href="@Url.Action("ViewCart", "Cart")" style="color:white"> Cart </a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12 text-left menu-1">
                                        <ul class="navbar-nav mr-auto">
                                            @Html.Action("GetCategories", "Category")
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-3" style="margin-top:10px;">

                            @using (Html.BeginForm("SearchProducts", "Product", FormMethod.Get, new { @class = "search-wrap" }))
                            {
                                <div class="form-group">
                                    <input type="search" class="form-control search" placeholder="Search" name="SearchString">
                                    <button class="btn btn-primary submit-search text-center" type="submit" style="margin-top:10px;">Search</button>
                                </div>
                            }
                        </div>
                    </div>
                </nav>   
            </div>
            <hr />
            @RenderBody()
            <footer style="margin-top:3rem">
                <p>&copy; Developed in Sleepless Nights Powered by My ASP.NET and Much More! @DateTime.Now.Year</p>
            </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- Main -->
    <script src="~/Scripts/main.js"></script>
    <script>
        $(document).ready(function () {

            var quantitiy = 0;
            $('.quantity-right-plus').click(function (e) {

                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                $('#quantity').val(quantity + 1);


                // Increment

            });

            $('.quantity-left-minus').click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                // Increment
                if (quantity > 0) {
                    $('#quantity').val(quantity - 1);
                }
            });

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
