<div class="colorlib-loader"></div>
<div><h2>@ViewBag.LoggedIn</h2></div>

<div class="container body-content">
    <div class="colorlib-loader"></div>

    <div>

        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-md-9">
                            @Html.ActionLink("Global Markets", "Index", "Home", new { area = "" }, new { @id = "colorlib-logo" })
                        </div>
                        <div class="col-sm-5 col-md-3">

                            @using (Html.BeginForm("SearchProducts", "Product", FormMethod.Get, new { @class = "search-wrap" }))
                            {
                                <div class="form-group">
                                    <input type="search" class="form-control search" placeholder="Search" name="SearchString">
                                    <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-left menu-1">
                            <ul>
                                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li><a href="@Url.Action("CategoryProducts", "Products", new { CategoryName = "Clothing" })">Clothing</a></li>
                                <li><a href="@Url.Action("CategoryProducts", "Products", new { CategoryName = "Footwear" })">Footwear</a></li>
                                <li><a href="@Url.Action("CategoryProducts", "Products", new { CategoryName = "Jewellery" })">Jewellery</a></li>

                                @Html.DropDownList("LIST","ITEMS 1,ITEM 2 ")
                                @if (Session["UserID"] == null)
                                {
                                    <li>@Html.ActionLink("Sign-In", "Login", "Login")</li>
                                    <li>@Html.ActionLink("Sign-Up", "Register", "Register")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("My Orders", "MyOrders", "Order")</li>
                                    <li>@Html.ActionLink("Sign Out", "Logout", "User")</li>
                                }
                                <li class="cart"><a href="@Url.Action("ViewCart", "Cart")"><i class="icon-shopping-cart"></i> Cart </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </nav>
        </div> 
    </div>